# ignores all asset files without folders
#/src/assets/**/*.js
#/src/assets/**/*.css
!/src/assets/js/
!/src/assets/css/
/src/assets/js/*.js
/src/assets/css/*.css

# ignores cache file in temp folder 
#!/src/temp/
#/src/temp/*.html

# ignores vscode folder
.vscode

# ignores vendor folder
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
